.wrapper {
  padding: 30px;
}

.component-wrapper {
  padding-bottom: 30px;
}

.datepicker-wrapper {
  padding-bottom: 20px;
}

.date-item {
  display: inline-block;
}

.preset-wrapper > span {
  padding-right: 30px;
  cursor: pointer;
  font-size: 12px;
}
